a {
  text-decoration: none;
}

.main {
  width: 100%;
  background: #f3db89;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 100px;
}

.main-area{
  width: 80%;
}

.side-bar-area{
  width: 20%;
}

/* //画面上部通知部分 */
.notices-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5% 15%;
}

.date{
  color: black;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.top-today{
  display: flex;
  width: 100%;
  align-items: flex-end;
}

.top-task-info{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 5px;
}

.notices-box{
  border-top: solid 5px #f3af60;
  border-bottom: solid 5px #f3af60;
  background-color: #f3db89;
  color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px 0;
  max-height: 30vh;
  overflow: scroll;
}

.top-notice{
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px #f7e6e9;
}

.top-yotei{
  display: flex;
  justify-content: center;
  font-size: 15px;
  width: 30%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: solid 3px #6dc05d;
}

.top-kiroku{
  display: flex;
  justify-content: center;
  font-size: 15px;
  width: 30%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: solid 3px #3ebaeb;
}

.notice-end{
  border: solid 1px red;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* //画面上部通知部分 */

// メインページ

.main-contents{
  // height: 100%;
  display: flex;
  justify-content: space-between;
}



.main-page{
  font-size: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5% 15%;
  color: #fff;
}

.all-articles{
  border-top: solid 5px #f3af60;
  border-bottom: solid 5px #f3af60;
  color: black;
  width: 100%;
  height: 30vh;
  margin-bottom: 2%;
  overflow: scroll;

}
.mostlike-articles{
  border-bottom: solid 5px #f3af60;
  color: black;
  width: 100%;
  height: 30%;
  margin-bottom: 2%;

}
.favorite-articles{
  border-bottom: solid 5px #f3af60;
  color: black;
  width: 100%;
  height: 30%;
  margin-bottom: 2%;

}

// 投稿記事表示部分

.article-lists {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: row;
  overflow: scroll;
  flex-wrap: wrap;

}

.article-lists>.list {
  max-width: 50%;
  max-height: 50%;
  padding: 1%;
  display: flex;
}

.article-content{
  background-color: #f7d35f;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article-img-content{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article-img {
  max-width: 70%;
  max-height: 70%;
  border-radius: 10px;

}


.article-info {
  max-width: 100%;
  border: double 5px #f3bf13;
  border-radius: 20px;
  color: black;
  padding: 5%;
}

.article-name {
  font-size: 17px;
}

.user-nickname{
  font-size: 15px;
  text-align: end;
}