.article-show-wrap{
  width: 90%;
  background-color: #f5f5f5;
  border-radius: 30px;
  padding-bottom: 70px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.article-show-header{
  width: 100%;
  height: 120px;
  text-align: center;
  font-size: 30px;
}

.article-show-header-text{
  margin-top: 30px;
  line-height: 100px;
  font-weight: bold;
}

.article-show-text{
  border-bottom: solid 3px #f36080;
}

.article-show-group{
  margin-top: 50px;
}

.article-show-text-wrap{
  text-align: center;
}

.article-show-image{
  max-width: 90%;
  max-height: 100vh;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.article-show-text{
  text-align: center;
  margin-top: 30px;
  white-space: pre-wrap;
  overflow: scroll;
  width: 90%;
  height: 50vh;
  border-radius: 30px;
  border: double 5px #f3db89;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.article-show-pet-type{
  text-align: center;
  margin-top: 10px;
}

.article-show-text-type{
  text-align: center;
  margin-top: 10px;
}

.article-show-info{
  border-bottom: solid 3px #f36080;
}


.go-edit-btn{
  text-align: center;
  margin-top: 60px;
  border: double 5px black;
  margin-left: auto;
  margin-right: auto;
}

.go-edit{
  font-size: 30px;
  color: black;
}