a {
  text-decoration: none;
}

.side-bar{
  width: 20%;
  height: 100%;
  background: #f3db89;
}


.menu-content{
  display: flex;
  justify-content: center;
}

.menu-button{
  margin-top: 5vh;
  width: 15vh;
  height: 15vh;
}

.welcom-user{
  height: auto;
  margin: 20px;
}

.menu-user-nickname{
  font-weight: bold;
  color: black;
}

.follow-contents{
  font-size: 3vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  margin: 10px;
  font-weight: bold;
}

.follow{
  margin-right: 10px;
  margin-bottom: 15px;
}

.contents-menu{
  height: 80vh;
  font-size: 4vh;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  justify-content: space-around;
  margin-top: 10vh;
}

.menu-toppage{
  color: #333333;
  border: double 5px  #f3af60;
}

.menu-calendar{
  color: #333333;
  border: double 5px  #f3af60;

}

.menu-serch{
  color: #333333;
  border: double 5px  #f3af60;

}

.menu-favorite{
  color: #333333;
  border: double 5px  #f3af60;

}
