a {
  text-decoration: none;
}

.side-bar{
  background: #f3db89;
}


.welcom-user{
  height: auto;
  margin: 20px;
}

.menu-user-nickname{
  font-weight: bold;
  color: black;
}

.follow-contents{
  font-size: 3vh;
  display: flex;
  list-style: none;
  margin: 10px;
  font-weight: bold;
}

.follow{
  margin-right: 10px;
  margin-bottom: 15px;
}


.contents-menu{
  height: 80vh;
  font-size: 4vh;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-around;
  margin-top: 10vh;
  margin-left: 3vw;
}

.menu-toppage{
  color: #333333;
  border: double 5px  #f3af60;
}

.menu-calendar{
  color: #333333;
  border: double 5px  #f3af60;

}

.menu-search{
  color: #333333;
  border: double 5px  #f3af60;

}

.menu-favorite{
  color: #333333;
  border: double 5px  #f3af60;

}
